#Compiled object files
*.o
*.ko
*.obj
*.elf
*.slo

#Compiled dynamic libraries
*.so
*.so*
*.dll
*.dylib

#Compiled static libraries
*.lai

#Executables
*.out
*.exe
*.app
*.hex
*.i*86
*.x86_64

#Precompiles Headers
*.gch
*.pch

#Libraries
*.lib
*.a
*.la
*.lo

#Linker output
*.ilk
*.map
*.exp

#Prerequisites
*.d

#Debug files
*.dSYM/
*.su
*.swp
*.swo
*.idb
*.pdb

#temporary files
*.tmp
*.log

#Backup files
*~
*.bak
*.old

#IDE specific files
.idea/
.vscode/

#Kernel Module Compile Results
*.mod*
*.cmd

#Fortran module files
*.mod
*.smod

*.orig
*~
*.vsix

#Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

#Windows shortcuts
*.lnk

startcpp.exe
