#Compiled object files
*.o
*.ko
*.obj
*.elf
*.slo

#Compiled dynamic libraries
*.so
*.so*
*.dll
*.dylib

#Compiled static libraries
*.lai

#Executables
*.out
*.exe
*.app
*.hex
*.i*86
*.x86_64

#Linker output
*.ilk
*.map
*.exp

#Prerequisites
*.d

#Debug files
*.dSYM/
*.su
*.swp
*.swo
*.idb
*.pdb

#temporary files
*.tmp
*.log

#Backup files
*~
*.bak
*.old

#IDE specific files
.idea/
.vscode/


startcpp.exe
